body {
  margin: 0;
  background: #242424;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
  line-height: 1.5;
  color: aliceblue;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
