/* styles table */
.table--showColors tr:nth-child(odd) {
  background-color: #333;
}

.table--showColors tr:nth-child(even) {
  background-color: #555;
}

/* pointer  */
.pointer {
  cursor: pointer;
}

table tr td:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

tr th {
  background-color: #1a1a1a;
}
